* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* NAVBAR */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 65px;
    background-color: #e4e6e4;;
    position: sticky;
    top: 0;
    z-index: 100;
}

.titre-app {
    color: rgb(0, 0, 0);
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
}

.nav-links {
    display: flex;
    gap: 15px;
    align-items: center;
    list-style: none;
    margin-left: auto;
    padding: 0;
}

.nav-links a {
    color: rgba(0, 0, 0, 0.85);
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
    padding: 6px 12px;
    border-radius: 6px;
    transition: all 0.2s;
}

.nav-links a:hover {
    color: #003cff;
}

.nav-links a.btn-connexion {
    border: 1px solid white;
    color: white;
}

.nav-links a.btn-inscrire {
    background-color: #0077cc;
    color: white;
}

.nav-links a.btn-inscrire:hover {
    background-color: #005fa3;
    color: white;
}

/* BANNIÈRE */
.banniere {
    background-color: #0077cc;
    color: white;
    padding: 60px 30px;
    text-align: center;
    margin-bottom: 30px;
}

.banniere h2 {
    font-size: 1.8rem;
    margin-bottom: 15px;
}

.banniere p {
    font-size: 1rem;
    margin-bottom: 25px;
    opacity: 0.9;
}

/* BOUTONS */
.btn {
    background-color: white;
    color: #0077cc;
    border: none;
    padding: 12px 20px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    margin: 5px;
    transition: all 0.2s;
}

.btn:hover {
    background-color: #e0e0e0;
}

.btn-secondaire {
    background-color: transparent;
    color: white;
    border: 2px solid white;
}

.btn-secondaire:hover {
    background-color: white;
    color: #0077cc;
}

/* GRILLE */
.grille {
    display: flex;
    gap: 20px;
    padding: 20px 30px;
    flex-wrap: wrap;
}

/* CARTES */
.carte {
    background-color: white;
    padding: 20px;
    border-radius: 12px;
    border: 1px solid #e0e0e0;
    flex: 1;
    min-width: 280px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.06);
}

.carte h2, .carte h3 {
    color: #333;
    margin-top: 0;
    margin-bottom: 15px;
}

ul {
    padding-left: 20px;
    line-height: 1.8;
}

/* FOOTER */
footer {
    margin-top: auto;
    text-align: center;
    padding: 20px;
    background-color: #0077cc;
    color: white;
    font-size: 0.85rem;
}