<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IFRI MentorLink</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <nav class="navbar">
  <!-- Le logo ou nom du site -->
  <div class="logo"></div>

  <!-- Le bouton avec les 3 tirets -->
  <div class="burger-menu" id="burgerBtn">
    <span></span>
    <span></span>
    <span></span>
  </div>

  <!-- Les liens du menu -->
  <ul class="nav-links" id="navLinks">
    <li><a href="#">Accueil</a></li>
    <li><a href="#">À propos</a></li>
    <li><a href="#">Mentorat</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</nav>
    
    <img src="c:\Users\USER\Downloads\WhatsApp Image 2026-06-07 at 12.28.18.jpeg" alt="">
    
<div class="bandeau-defilant">
  <h1>IFRI nous bâtissons l'exéllence!</h1>
</div>
    <h1 class="titre-app">IFRI MentorLink</h1>
    <!-- La bannière bleue -->
    <div class="banniere">
        <h2>Entraide et mentorat estudiantins à l'IFRI</h2>
        <p>Allions nos talents et comblons nos faiblesses ; c'est ainsi que nous bâtirons nos succès futurs.</p>
        
        <div>
            
            <button class="btn">Demander de l'aide</button>
            <button class="btn btn-secondaire">Devenir mentor</button>
        </div>
        
    </div>
    
    
    
    <!-- Les blocs d'informations côte à côte -->
    <div class="grille">
        
        <!-- Bloc 1 -->
        <div class="carte">
            <h3>Pourquoi nous rejoindre ?</h3>
            <ul>
                <li>⚡ Trouver de l'aide rapidement</li>
                <li>📢 Partager ses connaissances</li>
                <li>👥 Travailler en groupe</li>
                <li>🏆 Réussir ensemble</li>
            </ul>
        </div>
        

        <!-- Bloc 2 -->
        <div class="carte">
            <h3>Notre communauté à  IFRI.</h3>
            <p>La plateforme officielle de partage de connaissances entre étudiants de l'IFRI.</p>
            <p><strong>Étudiants actifs :</strong> </p>
            <p><strong>Sessions ce mois :</strong> </p>
        </div>
        

    
        <div class="carte">
    
    <h2>Comment ça marche ?</h2>
    <p><b>.</b> Créez votre compte étudiant.</p>
    <p><b>.</b> Trouvez un mentor ou un élève à aider.</p>
    <p><b>.</b> Discutez et progressez ensemble.</p>
</div>
</div>
    <footer>
        <p>&copy;2026 IFRI_Mentor_link.Tous droits réservés.</p>
    </footer>
<script>
  const burgerBtn = document.getElementById('burgerBtn');
  const navLinks = document.getElementById('navLinks');

  burgerBtn.addEventListener('click', () => {
    // Ajoute ou enlève la classe 'active' pour afficher/cacher le menu
    navLinks.classList.toggle('active');
  });
</script>
</body>
</html>
